/*EU Cookie Law Notice Plugin For Bootstrap 4 – Cookie-Alert
MIT License Copyright (c) 2017 Wruczek <wruczekk@gmail.com>
https://www.cssscript.com/eu-cookie-law-notice-plugin-bootstrap-4/ */

.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: #212327 url("/static/cubes.png");
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
}

.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}
