<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="b48g55m@eu">
    <meta name="description" content="{{ _('This is the home of WotB Widget, streamer stats calculator. WoTB Widget puts your game status (number of battles, damage rate, winrate) right into your stream.') }}">
    <meta property="og:title" content="{{ _('WoTB Widget Home') }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gitlab.com/vanous/wotbot-widget">
    <meta property="og:image" content="https://cdn.discordapp.com/app-icons/368866137603309569/957dff2d97950943a43127e1561d0409.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="WotB Widget">
    <meta property="og:description" content="{{ _('This is the home of WotB Widget, streamer stats calculator. WoTB Widget puts your game status (number of battles, damage rate, winrate) right into your stream.') }}">
	<link rel="shortcut icon" href="/static/images/fav/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/images/fav/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/images/fav/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/images/fav/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/images/fav/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/images/fav/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/fav/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/fav/favicon-16.png">
	<link rel="apple-touch-icon" href="/static/images/fav/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/fav/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/fav/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/images/fav/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/images/fav/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/images/fav/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/images/fav/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/images/fav/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/fav/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/images/fav/favicon-144.png">
	<meta name="msapplication-config" content="/static/images/fav/browserconfig.xml">




    {% if session["username"] %} <title>{{ _('Welcome') }} {{ session["username"] }} </title>{% endif %}

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/cookiealert.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('WoTB Widget Dashboard') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
                    {% if session["username"] %} 
                    <li class="nav-item"><a href="{{ url_for('me') }}" class="nav-link">{{ _('Settings') }}</a></li>
                    <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">{{ _('Sign-out') }} {{ session["username"] }}</a></li>
                     
                    {% else %}
                    <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link">{{ _('Sign-in with Discord') }}</a></li>
                    {% endif %}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Other WoT Blitz related projects') }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://wotbot.pythonanywhere.com/">{{ _('WotBot - Discord bot for WoTB') }}</a>
            <a class="dropdown-item" href="https://vanous.github.io/wot-blitz-viewer-test/">{{ _('3D Tank viewer') }}</a>
            <a class="dropdown-item" href="https://f-droid.org/packages/nodomain.vanous.blitztypekeyboard/">{{ _('BlizType Keyboard') }}</a>
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Language') }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for l in lang %}
                                    <a class="dropdown-item" href="{{ url_for('set_language',language=l) }}">{{ lang[l] }} - {{ _(lang[l]) }}</a>
                                    {% endfor %}
                                    <a class="dropdown-item" href="https://crwd.in/wotbot">{{ _('Help to improve the translation') }} <img src="https://d322cqt584bo4o.cloudfront.net/wotbot/localized.svg"></a>
            </div>
          </li>
    </ul>
</div>

    </nav>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/rivets.bundled.min.js"></script>

    <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			  crossorigin="anonymous"></script>
    <main role="main">


{% block content %}
{% endblock %}
    </main>

    <footer class="container">
    </footer>

<!-- COOKIES -->
<div class="alert text-center cookiealert" role="alert">
    {{ _('We use cookies &#x1F36A; only to keep the Discord log-in session.') }}
    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        {{ _('I agree.') }}
    </button>
</div>
<!-- /COOKIES -->

    <script src="/static/cookiealert-standalone.js"></script>

  </body>
</html>

