{% extends "base.html" %}

{% block content %}





<div class="container">
      <div class="card mb-4 shadow-sm">
          <div class="card-body">
              <iframe src="{{ url_for( 'widget',id=userid ) }}".format allowtransparency="true" class="btn-block"></iframe> </br>
              <a href="{{ url_for( 'widget',id=userid ) }}" target="_blank" class="btn btn-lg btn-block btn-primary" role="button">{{ _('Open widget in a new window') }}</a>
          </div>
        </div>
      <div class="card-deck mb-3 text-center">


      

      <div class="card mb-4 shadow-sm">
          <div class="card-header">
              <h4 class="my-0 font-weight-normal">{{ _('Wargaming player name and region') }}</h4>
          </div>
          <div class="card-body text-left">
              {% if playerconfig %}
              {{ _('Name') }}: {{ playerconfig.player }}<br>
              {{ _('Region') }}: {{ playerconfig.region }}<br>
                  <!-- ID: {{ playerconfig.id }} -->
              {% else %}

              {{ _('No user settings.') }}
              {% endif %}
          </div>
        </div>
<!--        <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Page config</h4>
              </div>
              <div class="card-body text-left">
                  {% if pageconfig %}
                      {% for i in pageconfig %}
                        {{ i }}: {{ pageconfig[i] }}<br>
                      {% endfor %}
                  {% else %}

                  {{ _('No page settings') }}

                  {% endif %}

              </div>
            </div>
        -->
        <div class="card mb-4 shadow-sm">
              <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{ _('Wargaming Data') }}</h4>
              </div>
              <div class="card-body text-left">
                  {% if storeddata %}
                    {% if storeddata.data %}
                    {{ _('Data saved') }}: {{ storeddata.date }}
                    {% else %}
                    {{ _('No data on WG. New account or contributor?') }}
                    {% endif %}
                  {% else %}

                  {{ _('No saved data.') }}

                  {% endif %}
                        </br><a href="#" class="btn btn-block btn-primary send-data">{{ _('Re-save') }}</a>

              </div>
            </div>
      
<!-- 
      <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
          </div>
        </div>
-->
        </div>
        </div>

        <script>

        $('.send-data').on('click', function (e) {
            data_send={"command":"reset"}
            var request = $.ajax({
              url: '/reset',
              type: 'POST',
              dataType: 'text',
              data: JSON.stringify(data_send)
            });
            request.done(function( xhr) {
              //console.log( "good",xhr );
                //set_send('disabled', 'saved');
                location.reload();
            });

            request.fail(function( xhr ) {
              //console.log( "fail", xhr);
            });
        });
            </script>
{% endblock %}
