{% extends "base.html" %}

{% block content %}



 <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
     <h1 class="display-4">{{ _('Welcome to WotB Widget') }}</h1>
</p>

    </div>

<div class="container">
      <div class="card-deck mb-3 text-center">


      <div class="card mb-4 shadow-sm">
          <div class="card-body">
              <!-- <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> 
            <ul class="list-unstyled mt-3 mb-4">
              <li>WoT Blitz statistics</li>
              <li>Daily and periodical stats diffs</li>
              <li>Tank quiz</li>
              <li>Auto upload for game replays</li>
            </ul>-->
            <a href="{{ url_for('login') }}" class="btn btn-lg btn-block btn-primary" role="button">{{ _('Sign-in with Discord') }}</a>
          </div>
        </div>



        </div>
        </div>


<div class="container text-center">

<!-- Large modal -->



<div class="card mb-4 shadow-sm">
          <div class="card-body">
              <h6 class="card-title pricing-card-title">{{ _('WoTB Widget puts your game status (number of battles, damage rate, winrate) right into your stream.') }}</h6> 
            <img  src="/static/images/out.gif">
            <ul class="list-unstyled mt-3 mb-4">
                <li>{{ _('Sign-in and set WG username and region in Settings') }}</li>
              <li>{{ _('Use the button: Open widget in a new window') }}</li>
              <li>{{ _('Copy address from the address bar') }}</li>
              <li>{{ _('Paste the address as a URL for browser source in your streaming software') }}</li>
            </ul>{{ _('Development Discord server') }}: <a href="https://discord.gg/mzXYPVW">https://discord.gg/mzXYPVW</a></br>
    {{ _('Thanks to all translators') }}: <a href="https://crwd.in/wotbot"><img src="https://d322cqt584bo4o.cloudfront.net/wotbot/localized.svg"></a><br>
            <a href=/language/ru_RU>Russian/{{ _('Russian') }}:</a> reven86, vdo2000<br/>
            <a href=/language/nl_NL>Dutch/{{ _('Dutch') }}:</a> sjonscom<br/>
            <a href=/language/fr_FR>French/{{ _('French') }}:</a> Myrheii, FuzzRipper<br/>
            <a href=/language/cs_CZ>Czech/{{ _('Czech') }}</a><br/>
            <a href=/language/de_DE>German/{{ _('German') }}</a> Andreas_kober74<br/>
            <a href=/language/az_AZ>Azerbaijani/{{ _('Azerbaijani') }}</a> Shahin Farzaliyev<br/>
            <a href=/language/hu_HU>Hungarian/{{ _('Hungarian') }}</a> bhfc<br/>
            <a href=/language/pl_PL>Polish/{{ _('Polish') }}:</a> Banquo__<br/>
            <a href=/language/es_ES>Spanish/{{ _('Spanish') }}:</a> frevilla<br/>
            <a href=/language/ar_SA>Arabic/{{ _('Arabic') }}:</a> _____KSA_____<br/>
            <a href=/language/tr_TR>Turkish/{{ _('Turkish') }}:</a> Mynaneiscafer<br/>
            <!--
            <a href=/language/nl_NL>Dutch/{{ _('English') }}:</a> sjonscom<br/>
            <a href=/language/nl_NL>Dutch/{{ _('Czech') }}:</a> sjonscom<br/>
            <a href=/language/nl_NL>Dutch/{{ _('Spanish') }}:</a> sjonscom<br/>
            <a href=/language/nl_NL>Dutch/{{ _('French') }}:</a> sjonscom<br/>
            -->

          </div>
        </div>

</div>

<p/>



{% endblock %}
