{% extends "base.html" %}

{% block content %}

<div id="rivets_container" class="container-fluid">
    <!--  <h1 rv-text="data.user.playername"></h1> -->

    <a href="/me" class="btn btn-secondary disabled reset-data">{{ _('Reset') }}</a>
    <a href="#" class="btn btn-secondary disabled send-data">{{ _('Save') }}</a>

<div id="user_preferences" class="watchcontainer">
            <div class="row">
                <div class="col-md-2">{{ _('Region') }}</div>
                <div class="col-md-4"> <select class="custom-select regionuser" rv-value="data.playerconfig.region">
                        <option value="">{{ _('not set') }}</option>
                        <option value="eu">{{ _('Europa') }}</option>
                        <option value="ru">{{ _('Russian Commonwealth') }}</option>
                        <option value="na">{{ _('North America') }}</option>
                        <option value="asia">{{ _('Asia') }}</option>
                    </select>
                </div>
            </div><br/>
            <div class="row" >
                <div class="col-md-2">{{ _('In Game Name') }}</div>
                <div class="col-md-4"> <input maxlength="20" rv-value="data.playerconfig.player" autocomplete="on" class="watchcontainer playername" style="min-width: 100%;"></input> {% raw %} { data.playerconfig.ida } {% endraw %}</div>
            </div><br/>
            <div class="row">
                <div class="col-sm-2">{{ _('Title') }}</div>
                <div class="col-sm-4"> <input maxlength="100" rv-value="data.pageconfig.title" class="watchcontainer pagetitle" style="min-width: 100%;"></input></div>
            </div><br/>
            <div class="row">
                <div class="col-sm-2">{{ _('Text for battles') }}</div>
                <div class="col-sm-4"> <input maxlength="100" rv-value="data.pageconfig.battles" class="watchcontainer" style="min-width: 100%;"></input></div>
            </div><br/>
            <div class="row">
                <div class="col-sm-2">{{ _('Text for damage') }}</div>
                <div class="col-sm-4"> <input maxlength="100" rv-value="data.pageconfig.damage" class="watchcontainer" style="min-width: 100%;"></input></div>
            </div><br/>
            <div class="row">
                <div class="col-sm-2">{{ _('Text for winrate') }}</div>
                <div class="col-sm-4"> <input maxlength="100" rv-value="data.pageconfig.winrate" class="watchcontainer" style="min-width: 100%;"></input></div>
            </div><br/>
            <div class="row">
                <div class="col-md-2">{{ _('Style') }}
                    <br/>
                    <a href="#" class="btn btn-primary reset-style-green btn-block" style="background-color:green">{{ _('Reset style to Green') }}</a>
                    <a href="#" class="btn btn-primary reset-style-blue btn-block" style="background-color:blue">{{ _('Reset style to Blue') }}</a>
                
                </div>

                <div class="col-md-4"> <textarea rv-value="data.pageconfig.style" class="watchcontainer pagestyle" style="min-width: 100%;" rows="28"></textarea> </div>
            </div>
    <div class="suggestion"></div>
</div>
</div>

    




    <script src="/static/rivets.bundled.min.js"></script>

<script type="text/javascript">
    var data = {};
    data.userid = '{{ userid }}'
    data.playerconfig = {{ playerconfig|tojson }}
    data.pageconfig = {{ pageconfig|tojson }};


rivets.binders['attr-*'] = function(el, value) {
    if (value){
  el.setAttribute(this.args[0], value)
    }else{
  el.removeAttribute(this.args[0])
    }
}


set_send = function(val,text){
        //console.log("set green",val)
        if (val=='disabled'){
            $('.reset-data').addClass('disabled')
            $('.send-data').addClass('disabled')
            $('.send-data').removeClass('btn-success')
            $('.send-data').addClass('btn-secondary')
            if (text=='saved'){
            $('.send-data').text('{{ _('Saved OK') }}')
            }
        }else{
            $('.reset-data').removeClass('disabled')
            $('.send-data').removeClass('disabled')
            $('.send-data').removeClass('btn-secondary')
            $('.send-data').addClass('btn-success')
            $('.send-data').text('{{ _('Save') }}')
        }

    }

rivets.bind(document.querySelector('#rivets_container'), {
  data: data,

});



    $(document).ready(function(){
        //console.log("ready")
        set_send('disabled');

        var regions = [
           {r: "", b: "eu"}, 
           {r: "eu", b: "eu"}, 
           {r: "ru", b: "ru"}, 
           {r: "na", b: "com"}, 
           {r: "asia", b: "asia"}
        ];

        $('.regionuser').on('change', function (e) {
            var selected_region = $('.regionuser option:selected').val();
            //console.log(selected_region)
            region=regions.filter(function(obj){return obj.r==selected_region})
            //console.log(region)
            url="https://api.wotblitz."+region[0].b+"/wotb/account/list/?application_id=28c68c84fafec48834d1cd61b7030e4a"
            //console.log(url);
            $(".playername").autocomplete("option","source",function( request, response ) {
        $.ajax( {
          url:url,
          dataType: "json",
          data: {
            search: request.term
          },
          success: function( data ) {
              var transformed = $.map(data["data"].slice(0,10),function(el){
              //console.log(el)
                  return {
                  label:el.nickname,
                  id:el.account_id
                  };
              });
            response(transformed);
          },
            error: function () {
                response([]);
            }
        } );
      })


        });


    

    $(".playername").autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url:"https://api.wotblitz.eu/wotb/account/list/?application_id=28c68c84fafec48834d1cd61b7030e4a",
          dataType: "json",
          data: {
            search: request.term
          },
          success: function( data ) {
              var transformed = $.map(data["data"].slice(0,10),function(el){
              //console.log(el)
                  return {
                  label:el.nickname,
                  id:el.account_id
                  };
              });
            response(transformed);
          },
            error: function () {
                response([]);
            }
        } );
      },
      minLength: 4,
      messages: {
        noResults: '',
        results: function() {}
        },
      select: function( event, ui ) {
        //$(".playername")"Selected: " + ui.item.value + " aka " + ui.item.id );
        console.log("selected")
        data.playerconfig.player= ui.item.value;
        data.playerconfig.id= ui.item.id;
      }
    } );
  } );


$('.reset-style-blue').on('click', function (e) {

set_send();
data.pageconfig.style=".main {\nbackground-color:blue;\n}\n.streamtitle {\n    background-color: blue;\n}\n.battles {\n    background-color: blue;\n}\n.battles-text {\n    background-color: blue;\n}\n.damage-text {\n    background-color: blue;\n}\n.damage {\n    background-color: blue;\n}\n.winrate-text {\n    background-color: blue;\n}\n.winrate{\n    background-color: blue;\n}\n* {\n    font-family: arial;\n    font-size: 120%;\n  }";
});

$('.reset-style-green').on('click', function (e) {

set_send();
data.pageconfig.style=".main {\nbackground-color:green;\n}\n.streamtitle {\n    background-color: green;\n}\n.battles {\n    background-color: green;\n}\n.battles-text {\n    background-color: green;\n}\n.damage-text {\n    background-color: green;\n}\n.damage {\n    background-color: green;\n}\n.winrate-text {\n    background-color: green;\n}\n.winrate{\n    background-color: green;\n}\n* {\n    font-family: arial;\n    font-size: 120%;\n  }";
});

        $('.send-data').on('click', function (e) {
            //console.log(JSON.stringify(data))
            data_send_str=JSON.stringify(data);
            data_send=JSON.parse(data_send_str)

            //console.log(JSON.stringify(data_send))

            var request = $.ajax({
              url: '/data',
              type: 'POST',
              dataType: 'text',
              data: JSON.stringify(data_send)
            });
            request.done(function( xhr) {
              //console.log( "good",xhr );
                set_send('disabled', 'saved');
            });

            request.fail(function( xhr ) {
              //console.log( "fail", xhr);
            });
        });

        $('.watchcontainer').on('change input',function(){
           set_send();
        });
</script>


{% endblock %}
