<html>
    <head>
        <!--        <meta http-equiv="refresh" content="20"> -->
    </head>
<body style="background: transparent; margin: 0; padding: 0;">      
    <style>
{{ pageconfig.style | safe }}
</style>
<div class="main">
      <div class="streamtitle"></div>
      <span class="battles-text">{{ pageconfig.battles }} </span><span class="battles"></span>
      <span class="damage-text">{{ pageconfig.damage }} </span><span class="damage"></span>
      <span class="winrate-text">{{ pageconfig.winrate }} </span><span class="winrate"></span>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script>
    var data = {};
    data.userid = '{{ userid }}'
    data.playerconfig = {{ playerconfig|tojson }}
    data.pageconfig = {{ pageconfig|tojson }};
    data.storeddata = {{ storeddata|tojson }};
    data.wgtoken='{{ token }}'
    document.getElementsByClassName("streamtitle")[0].innerHTML=data.pageconfig.title || "";
    
    //Object.keys(b).map(function(key,index) {c[key]=b[key]-a[key];});
function refresh(){
            var request = $.ajax({
              url: 'https://api.wotblitz.'+data.playerconfig.region.replace("na","com")+'/wotb/account/info/?application_id='+data.wgtoken+'&account_id='+data.playerconfig.id+'&extra=statistics.rating',
              type: 'GET',
              dataType: 'json',
            });
            request.done(function( xhr) {
              console.log( "good",xhr );
                aa=data.storeddata.data.all;
                ra=data.storeddata.data.rating;

                a=new Object;
                Object.keys(aa).map(function(key,index) {a[key]=aa[key]+ra[key];});

                ab=xhr["data"][data.playerconfig.id]["statistics"]["all"]
                rb=xhr["data"][data.playerconfig.id]["statistics"]["rating"]

                b=new Object;
                Object.keys(ab).map(function(key,index) {b[key]=ab[key]+rb[key];});

                c=new Object;
                Object.keys(b).map(function(key,index) {c[key]=b[key]-a[key];});
                console.log(c);
                document.getElementsByClassName("battles")[0].innerHTML=c.battles; 
                document.getElementsByClassName("damage")[0].innerHTML=Math.round(c.damage_dealt/c.battles*100)/100 || 0;
                document.getElementsByClassName("winrate")[0].innerHTML=Math.round(c.wins/c.battles*100*100)/100 || 0;
              
            });

            request.fail(function( xhr ) {
              console.log( "fail", xhr);
            });
}
refresh();
var intervalID = setInterval(function(){refresh();}, 20000);
</script>
</body>
</html>
